body {
    margin: 0;
    padding: 0;
}

.card h4 {
    background-color: opacity: 1;
    margin: 8px;
    padding: 4px;
    color: #000;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
}

.nsl {
    margin-top: 30px;
    margin-bottom: 30px;
}

.nav-item>.act {
    color: #000;
}

.nav-item>.atb {
    background-color: #000;
    color: #999;
    margin-left: 8px;
}

.nav-item>.act a {
    color: #000;
}

.list-group-item {
    border: 0px;
}

.list-group-item a {
    text-decoration: none;
    color: #999;
    width: 100%;
}

.list-group-item a:hover {
    text-decoration: underline;
}

.hir {
    background-color: #C8D1DD;
}

.hir h1 {
    color: #fff;
    font-size: 20px;
}

.hir h1 span {
    color: #ccc;
}

.card {
    border: 0px;
}


/* Carousel */

#one-set {
    background: #333;
    color: #000;
}

.mtn {
    background: #999;
    font-weight: bold;
    border: none;
    float: right;
}

.mtn:hover {
    background: #555;
    color: #999;
}

.vd img {
    margin: auto;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30;
    left: 0;
    bottom: 0;
    right: 0;
}

.data strong {
    background: #f4f4f4;
    float: left;
    padding: 4px;
    width: 100%;
    margin-bottom: 50px;
    font-size: 10px;
    text-align: center;
}

.carousel-inner img {
    background-color: #222;
}

#two-set {
    background: #C8D1DD;
    padding: bottom: 30px;
}


/* Overlay */

.ovl {
    opacity: 0;
    transition: 1s;
    cursor: pointer;
}

.ovl:hover {
    opacity: 1;
    background: rgb(0, 0, 0, 0.6);
}

.two-set-a h5 {
    color: #ccc;
    margin-bottom: 20px;
    padding-top: 1px;
    margin-top: 1px;
    padding-bottom: 1px;
}

.two-set-a h3 {
    color: #333;
    font-size: 17px;
    padding: 8px;
}

.two-set-a a {
    color: #333;
}

.apks .apki {
    float: left;
    width: 100%;
    margin-bottom: 50px;
}

.two-set-a .rd {
    width: 20%;
    float: left;
    margin-left: 25px;
    margin-bottom: 10px;
}


/* Locations */


/* Hiring */

.vsd2 span {
    padding-bottom: 8px;
}

.jr-insta-time {
    padding: 8px;
}

.jr-insta-username a {
    color: #E0DFDD;
}

.jr-insta-username {
    padding: 8px;
}

.jr-insta-caption {
    padding: 8px;
    color: #333;
}


}
#tree-set {
    background-color: #E0DFDD;
}
.vcts {
    padding: 2px;
}
.mvistos {
    float: left;
    background-clip: content-box;
    height: auto;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.mvistos p {
    color: #000 !important;
}
.mvistos a {
    text-decoration: none !important;
    color: #000 !important;
}
.pl {
    margin-bottom: 15px;
}
.complete h5 {
    font-size: 19px;
    color: #1D7180;
}
.pt-pi h5 {
    font-size: 19px;
    color: #1D7180;
    margin-bottom: 20px;
}
.semana-noticias {
    background-color: #C2CEDD;
}
.semana-noticias img:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
.semana-noticias img {
    cursor: pointer;
}
.semana-noticias h5 {
    color: #ccc;
}
.art h5 {
    font-size: 19px;
    color: #ccc;
    margin-bottom: 25px;
}
.vd h5 {
    font-size: 19px;
    color: #f4f4f4;
    margin-bottom: 25px;
}
.sem-vd h5 {
    font-size: 19px;
    color: #ccc;
    margin-bottom: 24px;
}
#for-set {
    background: #333;
}
#for-set-b-home {
    background: #E0DFDD;
}
#for-set-b {
    background: #C2CEDD;
}
#for-set-b .videos {
    background: #fff;
}
.nomes h3 {
    color: #333;
    margin-bottom: 10px;
    padding-top: 1px;
    margin-top: 25px;
    padding-bottom: 1px;
    font-size: 20px;
}

/* Navbar */
.bg-dark {
    background-color: #222;
    !important;
    height: 80px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 1px solid #333;
}
.active {
    border-bottom: 1px solid #333;
    background-color: #ccc;
}
.active:hover {
    background-color: #666;
}
#six-set {
    background: #C2CEDD;
    padding: bottom: 30px;
}
#complet-set {}
#copy-set {
    background: #C2CEDD;
    padding: 8px;
    text-align: center;
    height: 40px;
}
#copy-set p {
    color: #f4f4f4;
    font-size: 15px;
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
#copy-set p a {
    font-size: 16px;
    font-weight: bold;
    color: #0073AA;
}
.carousel-thumbnails .carousel-indicators img {
    max-width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
}
.carousel-thumbnails .carousel-indicators li {
    height: auto;
    max-width: 100px;
    width: 100px;
    border: none;
    &.active {
        border-bottom: 4px solid #fff;
    }
}
#ftb-set {
    background-color: #E0DFDD;
}
.two-set-fot {
    border-radius: 5px;
}
.two-set-fot h5 {
    color: #333;
    margin-top: 15px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}
.two-set-fot p {
    color: #333;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 2px;
    float: left;
    width: 100%;
}
.two-set-fot p a {
    background-color: #27C2C0;
    padding: 8px;
    color: #333;
    margin-bottom: 8px;
    float: right;
    border-radius: 5px;
}
.single-p {
    background: #f4f4f4;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: none;
}
.single-p .card {
    box-shadow: none;
}
.single-p .card a {
    color: #000;
}
.semana-sing {
    background-color: #27C2C0;
    border-radius: 5px;
}
.single-p h3 {
    font-size: 20px;
}
.single-p img {
    margin-top: 16PX;
}
.semana-sing h5 {
    padding: 8px;
    color: #333;
    font-size: 18px;
}
.sing-sbar {
    padding: 0px;
}
.semana-sbar {
    background-color: #27C2C0;
    border-radius: 5px;
    margin-top: 30px;
}
.semana-sbar h5 {
    padding: 8px;
    color: #333;
}
.categorias {
    background-color: #f4f4f4;
    margin-bottom: 30px;
}
.categorias h4 {
    color: #1D7180;
    font-size: 22px;
}
.categorias .card {
    box-shadow: none;
    margin-bottom: 20px;
}
.categorias .card:hover {
    background-color: #fff;
}
.categorias .card-body .mtsg {
    background-color: #27C2C0;
    border-radius: 5px;
    float: right;
    color: #000;
    border: none;
}
.categorias .card-body .mtsg:hover {
    background-color: #ccc;
}
.categorias .card-body .mtsg a {
    color: #000;
}
.categorias a {
    text-decoration: none;
    color: #333;
}
.categorias a:hover {
    text-decoration: underline;
}
.page-d {
    background-color: #f4f4f4;
    margin-top: 15px;
    margin-bottom: 30px;
}
.coluninha {
    background-color: #ccc;
    margin-top: 15px;
    margin-bottom: 30px;
}
.coluninha img {
    margin-bottom: 15px;
}
.page-d>.mb-3 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #1D7180;
    font-size: 22px;
}
.coluninha>.mb-4 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: #1D7180;
    font-size: 22px;
}
.fnit {
    text-align: center;
    background: none;
}
.fnit img {
    width: 15%;
    margin-top: 80px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.755);
}
.d-md-block p {
    color: #ccc;
}
.d-md-block h5 {
    color: #fff;
    font-weight: bold;
}
.card-text {
    color: #000;
}
.wp-caption {
    display: none;
}
#busca {
    background: #fff;
    color: #000;
}
.nsl h3 {
    padding: 14px;
    color: #1D7180;
    font-size: 22px;
    width: 100%;
    background-color: #ccc;
}
.nsl .mais-ns p {
    font-size: 15px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
    padding: 4px;
}
.nsl .mais-ns p:hover,
h3:hover,
a:hover {
    background-color: #f1f1f1;
}
.blog-pagination span a {
    font-size: 18px;
    color: #333;
}